{% extends "base.html" %}

{% block page_title %}Donate{% endblock page_title %}

{% block content %}
<main class="d-flex align-items-center justify-content-center">
  <div class="con">
    <div class="container-md text-bg-light p-4 rounded-4 text-center">
      <h1 class="text-danger">Donate</h1>
      <hr>
      <p class="h3 text-secondary">Reed's Foundation</p>
      <i class="fa-solid fa-heart fa-3x text-danger"></i>
      <hr>
      <button id="stripe-checkout" type="submit" class="btn btn-lg btn-primary px-5 fw-semibold text-uppercase">
        <i class="fa-regular fa-credit-card"></i> &nbsp;Pay with Stripe
      </button>
    </div>
  </div>
</main>
{% endblock content %}

{% block js_script %}
<script src="https://js.stripe.com/v3/"></script>
<script>
  var stripe = Stripe("{{ stripe_public_key }}");

  const pay_now_button = document.querySelector("#stripe-checkout");

  pay_now_button.addEventListener("click", event => {
    stripe.redirectToCheckout({
      sessionId: "{{session_id}}"
    }).then(function (result) { });
  })

</script>
{% endblock js_script %}